<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749976057554-2t3ocjjml2mlgu22enghcqvia35uhmp5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749976057554-2t3ocjjml2mlgu22enghcqvia35uhmp5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>749976057554-ckr8247dnt7kcdpe2i7shq7mpluk80k4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGn9veKBLb9D3zRA7K7UM6tInNREvH3RI</string>
	<key>GCM_SENDER_ID</key>
	<string>749976057554</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>labs.focuschain.focuschainlabsMobile</string>
	<key>PROJECT_ID</key>
	<string>focuschainlabs</string>
	<key>STORAGE_BUCKET</key>
	<string>focuschainlabs.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:749976057554:ios:ba5ed3f1a8f4008724df0b</string>
</dict>
</plist>
